version: 2.1
jobs:
  python-build:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install render-cli
  deploy:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install render-cli
      - run:
          name: Check environment variables
          command: env | grep -i render || true
      - run:
          name: List Render services
          command: render-cli list
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - python-build
      - deploy:
          context: render-deploy-context
          requires:
            - python-build