version: 2.1
jobs:
  python-build:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install render-cli
workflows:
  version: 2
  build:
    jobs:
      - python-build