version: 2.1
orbs:
  python: circleci/python@2
jobs:
  test-python:
    docker:
      - image: cimg/python:3.8-node
    steps:
      - checkout
      - python/install-packages
  deploy-to-render:
    docker:
      - image: cimg/python:3.8-node
    steps:
      - checkout
      - run:
          name: Install Render CLI
          command: pip install render-cli
      - run:
          name: Deploy to Render
          command: |
            render deploy service $RENDER_SERVICE_ID --api-key $RENDER_API_KEY
workflows:
  build-and-deploy:
    jobs:
      - test-python
      - deploy-to-render:
          requires:
            - test-python
          context: render-deploy-context
